# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
.env

# VSCode
.vscode/

# macOS
.DS_Store


# Logs
*.log

# Byte-compiled / optimized / DLL files
*.so

# Environment files
.env.*
!.env.example

# Jupyter Notebooks (optional)
*.ipynb_checkpoints

# Deployment
*.egg-info/
dist/
build/


